[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
autopep8 = "*"
flake8 = "*"
yapf = "*"
isort = "*"
rope = "*"

[packages]
flask = "*"
flask_cors = "*"
importlib-metadata = "==1.7.0"

[requires]
python_version = "3.6"
